/* Header & Nav */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  width: 100%;
  z-index: 1000;
  padding: 1rem 5%;
  transition: var(--transition);
}

.header.scrolled {
  background: var(--glass);
  backdrop-filter: blur(15px);
  --webkit-backdrop-filter: blur(15px);
  padding: 0.4rem 5%;
  box-shadow: var(--shadow-lux);
}

.nav-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  color: var(--primary);
  text-decoration: none;
  font-weight: 700;
  letter-spacing: -1px;
  transition: all 0.3s ease;
}

.logo:hover{
  color: var(--accent);
}

.nav-links {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-main);
  font-weight: 500;
  font-size: 0.95rem;
  position: relative;
  transition: var(--transition);
}

.nav-links a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--accent);
  transition: var(--transition);
}

.nav-links a:hover::after, .nav-links a.active::after {
  width: 100%;
}

/* Footer */
.footer {
  background: var(--primary);
  color: white;
  padding: 100px 5% 40px;
  width: 100vw;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr;
  gap: 4rem;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .footer-container { grid-template-columns: 1fr 1fr; }
}

@media (max-width: 768px) {
  .nav-links { display: none; }
  .hero-section { padding: 0 5%; }
  .footer-container { grid-template-columns: 1fr; }
  .form-wrapper { padding: 2rem; }
}

.icons{
  display: flex; gap: 1rem; margin-top: 1rem;
}

.icon{
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: rgb(238, 238, 238);
  transition: all 0.3s ease;
}

#btn-nav{
  padding: 0.6rem 1.3rem;
}

.icon:hover {
  color: var(--accent);
  transform: scale(1.1);
}

